@import "compass";
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/support";
@import "hover_ef/hover";
//@import "magnificPopup";
@import "font-awesome-compass";
@import "font-awesome";

@import "config";

//Overrides
body {
	background:$ltred;
	color:$wt;
	font: 400 13px $fut;
}

#main {
	background: $red;
}

.break:after {
    content: '\A';
    white-space: pre;
}

@import "menu";
@import "pages";
@import "icons";