//Icons for Nav
.icoHome {
    @include use-sprite("icoHome");
    &:hover, &.active  {
    	@include use-sprite("icoHome_hover");
    }
}
.icoBeefTen {
    @include use-sprite("icoBeefTen");
    &:hover, &.active {
    	@include use-sprite("icoBeefTen_hover");
	}
}
.icoPrimeRib {
    @include use-sprite("icoPrimeRib");
    &:hover, &.active {
    	@include use-sprite("icoPrimeRib_hover");
    }
}
.icoSideDish {
    @include use-sprite("icoSideDish");
    &:hover, &.active {
    	@include use-sprite("icoSideDish_hover");
    }
}
.icoCookTip {
    @include use-sprite("icoCookTip");
    &:hover, &.active {
    	@include use-sprite("icoCookTip_hover");
    }
}
//Submit
.icoSubmit {
    @include use-sprite("submit");
    color:transparent;
    &:hover, &.active {
        @include use-sprite("submit_hv");
    }
}
//Icons for Social
.icoShareBTN {
    @include use-sprite("icoShareBTN");
}
.icoFB {
    @include use-sprite("icoFB");
    &:hover {
    	@include use-sprite("icoFB_hover");
    }
}
.icoTW {
    @include use-sprite("icoTW");
    &:hover {
    	@include use-sprite("icoTW_hover");
    }
}
.icoPIN {
    @include use-sprite("icoPIN");
    &:hover {
    	@include use-sprite("icoPIN_hover");
    }
}