.beef_pork_idx2 {
	margin-top: 180px;
	@include bp-small {
		margin-top: 100px;
	}	
	.lg_click {
		padding:0;
		margin:0;
		@include bp-small {
			&:nth-of-type(1) {
				padding-left:30px;
			}
			&:nth-of-type(2) {
				padding-right: 45px;
			}
		}
		&:hover {
			//background: rgba(255,255,255, 0.05);
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV2NkIAL8///fmJGQOrAiRsazeBXCFIEMw6kQWRFOheiKsCrEpghDIS5FKArxKYIrJKQIrJAYRSCFAMpFJzuezU30AAAAAElFTkSuQmCC) repeat;
			border-radius: 5px;
			@include bp-small {
				background: transparent;
			}
		}
	}	
	.explore_wrd {
		font-size:60px; 
		padding-top: 20px;
		color:$defaultclr; 
		font-weight:normal; 
		margin-bottom:0px; 
		line-height:55px;
		@include bp-small {
			font-size:30px; 
			color:$defaultclr; 
			font-weight:normal; 
			margin-bottom:0px; 
			line-height:30px;
		}
		span {
			@include visuallyhidden;
		}
	}
	.prem_wrd {
		font-size:35px; 
		color:$stsilver; 
		font-weight:normal; 
		line-height:67px; 
		margin-top:0px;
		@include bp-small {
			font-size:16px; 
			color:$stsilver; 
			font-weight:normal; 
			line-height:30px; 
			margin-top:0px;
		}
		span {
			@include visuallyhidden;
		}
	}
	.beef_wrd {
		font-size:68px; 
		color:$defaultclr; 
		font-weight:normal; 
		line-height:77px; 
		margin-bottom:10px; 
		@include bp-small {
			font-size:32px; 
			color:$defaultclr; 
			font-weight:normal; 
			line-height:30px; 
			margin-top:0px; 
			padding-right:0px;
		}
		span {
			@include visuallyhidden;
		}		
	}
	img {
		margin-top: 1px;
		@include bp-small {
			margin-top: -15px;
		}
	}
	.cow_wrd {
		font-size:45px; 
		color:$defaultclr; 
		font-weight:normal; 
		line-height:100px; 
		margin-top:0px; 
		padding-right:10px;
		@include bp-small {
			font-size:22px; 
			color:$defaultclr; 
			font-weight:normal; 
			line-height:17px; 
			margin-top:-5px; 
		}
		span {
			@include visuallyhidden;
		}		
	}
}


.idx_srt_links {
	color:$grey;
	font:normal 12px $spin;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-top: 50px;
	margin-bottom:80px;
	text-align: center;
	@include bp-small {
		margin-top: 50px;
		margin-bottom: 50px;
		word-spacing: auto;
		display: inline-block;
	}
	a {
		color:$grey;
		span.space_idxlnk {
			&::after {
				content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
			}
		}
		&:hover {
			color:$white;
		}	
	}
	hr {
		border : 0;
    	height : 1px;
       	background : image-url('divider.png') 50% 0 no-repeat;
       	margin : 1em 0;	
       	@include bp-small {
       		display: none;
       	}	
	}
}

.small_idx_srt_links {
	margin:50px auto;
	.small-5 {
		border:1px solid $mdgrey;
		padding:15px;
		margin:10px;
		a {
			text-transform: uppercase;
			color:$mutwhite;
			letter-spacing: $dfletspace;
			font-size:12px;
			&:hover {
				color:$white;
			}
		}
		&:nth-child(2n+2) {
			margin-left:20px;
		}
	}
}
//
//.beef_pork_idx {
//	margin-top: 100px;
//	@include bp-small {
//		margin-top: 10px;
//	}
//	.text-right {
//		padding-right: 50px;
//	}
//	.text-left {
//		padding-left: 50px;
//	}
//	#premBeefID, #premPorkID {
//		@include hide-text;
//		display: inline-block;
//	}
//	#premBeefID {
//		@include replace-text-with-dimensions('explore_premBeef.png');
//		@include bp-small {
//			@include replace-text-with-dimensions('explore_premBeef_mob.png');
//			@include imagereplace-2x('explore_premBeef_mob@2x.png', 235px, 272px);
//		}
//	}
//	#premPorkID {
//		@include replace-text-with-dimensions('explore_premPork.png');
//		@include bp-small {
//			@include replace-text-with-dimensions('explore_premPork_mob.png');
//			@include imagereplace-2x('explore_premPork_mob@2x.png', 240px, 263px);
//		}
//	}
//}


