.head_repeat {
	background:image-url('header_pattern1.png') repeat-x;
	@include image-2x("header_pattern@2x.png", 86px, 73px);
	min-height: 74px;
	@include box-shadow(rgba(0,0,0,0.5) 0px 2px 15px 1); 
}

.contain-to-grid {
	background: transparent;
}

.tab-bar {
	background: transparent;
	z-index: 9;
	@include bp-small {
		margin-top: 0;
	}
}
	.left-small, .right-small {
		background:transparent;
		border-right: 0px solid blue;
		border-left: 0px solid blue;
	}
		.tab-bar .menu-icon span {
			font-size:16px ;
			letter-spacing: 0.1em;
			padding-left: 15px;
		}

.tab-bar-section {
	background: transparent;


}

.tab-bar .menu-icon span::after {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	top: 50%;
	margin-top: -0.5rem;
	left: 0.90625rem;
	box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
	width: 1rem;
	@include bp-small {
		content: "";	
	}
}

.tab-bar .close-icon::after  {
	content: "\00D7";

	font-size: 40px;
	top: -4px;
	margin-left: -27px;
	font-style: normal;
	font-weight: normal;
	position: absolute;

}

.left-off-canvas-menu, .right-off-canvas-menu {
	background:rgba(120, 157, 0, 1.0);
	.off-canvas-list {
		margin-top: 15px;
		li {
			font-family: $fut;
			font-size: 19px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			text-align: center;
			color:#ffffff;
			&:nth-of-type(1) {
    			font-family: $pac;
    			font-weight: 400;
    			text-transform: inherit;
    			letter-spacing: 0;
    			font-size: 32px;
    			padding-bottom: 20px;
    		}
			a {
				line-height: 20px;
				color:#ffffff;
				display: block;
    			position: relative;
    			z-index: 1;
    			border-bottom: 0 solid white;
    			transition: .35s ease color;
       			&:before{
					content: '';
					display: block;
					z-index: -1;
					position: absolute;
					left: -100%; top: 0;
					width: 100%; height: 100%;
					border-right: solid 3px rgba(97, 122, 2, 1.0);
					border-left: solid 4px rgba(97, 122, 2, 1.0);
					background: rgba(96, 127, 0, 1.0);
					transition: .35s ease left;
    			}
				&.is-current, &:hover{
					&:before{
						 left: 0;
					}
				}				
				&:hover {
					background:rgba(57, 72, 1, 1.0);
				}
			}
			hr {
				border : 0;
    			height : 1px;
       			//background : image-url('nav_dotted_divider.png') 50% 0 no-repeat;
       			margin : 1em 0;	
			}
			ul { 
				display: none; 
				list-style-type: none;
				li {
					text-align: left;
					padding-left: 35px;
				}
			}
		}
		.seconds {
			font-size: 15px;
			line-height: 28px;
			a {
				line-height: 5px;
			}
		}
		.thirds {
			text-transform: normal;
			font-size: 13px;

			a {

				line-height: 5px;
			}
		}
		.bg_div {
			padding: 20px 0;
		}
		.bottom {
			font-size: 9px;

			position: absolute; 
			bottom: 0; 
			margin:10% 21%;
			text-transform: inherit;

		}

	}
}








































.top-bar {
	background: transparent;
	@include bp-small {}
	.name {
		h1 {

		}
	}
}







.top-bar-section ul li {
	background: rgba(39, 39, 39, 0.35);
	//margin-right: 15px;
	//width: auto;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	text-transform: uppercase;
	letter-spacing: $dfletspace;
	color:rgba(255,255,255,0.3);
	//line-height: 22px;
	font-size: 14px;
	background: rgba(39, 39, 39, 0.35);
	//background: transparent!important;
	&.active {
		color:$wt;
		background: rgba(39, 39, 39, 1.0);
	}
}
	.premium_on {
		color:$wt;
		//border-width: 44px 0px 0px;
		//-moz-border-image: image-url("page_nav/open_lines.png") 44 0 0 repeat;
		//-webkit-border-image: image-url("page_nav/open_lines.png") 44 0 0 repeat;
		//-o-border-image: image-url("page_nav/open_lines.png") 44 0 0 repeat;
		//border-image: image-url("page_nav/open_lines.png") 44 0 0 repeat;	
	}

	.premium_off {
		color:rgba(255,255,255,0.3);
		//border-width: 24px 0px 0px;
		//-moz-border-image: image-url("page_nav/closed_lines.png") 22 0 0 repeat;
		//-webkit-border-image: image-url("page_nav/closed_lines.png") 22 0 0 repeat;
		//-o-border-image: image-url("page_nav/closed_lines.png") 22 0 0 repeat;
		//border-image: image-url("page_nav/closed_lines.png") 22 0 0 repeat;	
	}


