.mn_img {
	height:450px;
	background: transparent image-url('main_image.jpg') no-repeat center center;
	background-size: cover;
	@include bp-small {
		height:250px;
	}
	.beef-tenderloin & {
		background: transparent image-url('main_image_beef_ten.jpg') no-repeat center center;
		background-size: cover;
	}
	.prime-rib & {
		background: transparent image-url('main_image_prime_rib.jpg') no-repeat center center;
		background-size: cover;		
	}
}

.main_content {
	margin:70px auto 100px;
	.recipe_pg & {
		margin:70px auto 20px;
	}
	@include bp-small {
		margin:10px auto 30px;
	}
	h3 {
		font-family: $pac;
		color:$wt;
		font-size: 35px;
	}
	p {
		font-size: 14px;
		line-height: 27px;
		margin-top: 10px;
	}
}

.ornament {
	position:relative; 
	//margin-top:-310px; 
	right:0;
}

.recipes {
	background:$wt;
	padding-top:30px;
	padding-bottom: 30px;
	.tabs dd > a, .tabs .tab-title > a {
		color:$peach;
		font-family: $fut;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		background: transparent;
		border-bottom:1px dashed green;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
		text-transform: uppercase;
		&:nth-of-type(1) {
			border-top:1px dashed green;
		}
	}
	.tabs dd.active a, .tabs .tab-title.active a {
 	 	background: transparent;
  		color:$red
	}
	.tabs-content > .content {
		color:$ltbk;

		&.active {
			padding-left:50px; 
			margin-left:50px;
			@include bp-small {
				padding-left:0; 
				margin-left:0;
			}
			h3 {
				padding-left:80px; 
				margin-left:80px;
				margin-bottom: 20px;
				font-family: $pac;
				color:$ltred;	
				font-size: 24px;
				@include bp-small {
					padding-left:0; 
					margin-left:0;
				}
			}	
			div.row {
				margin-left:75px;
				padding-left:75px;
				margin-top: 20px;
				line-height: 20px;
				@include bp-small {
					padding-left:0; 
					margin-left:0;
				}
				b {
					color:$red;
					text-transform: uppercase;
					font-size:18px;
					letter-spacing: 0.07em;

				}
				.small-12.medium-5 {
					color:$bk;
					font-weight: 600;
					.cook-tips & {
						font-weight: 400;
						li {
							font-size:13px;
						}
						small {
							font-size:11px;
							font-style: oblique;
						}
					}	

				}
				.small-12.medium-6 {
					@include bp-small {
						margin-top:30px;
					}
					.cook-tips & {
						font-weight: 400;
						li {
							font-size:13px;
						}	
						small {
							font-size:11px;
							font-style: oblique;
						}						
						.social2 {
							li {
								font-size: 20px;
							}
						}			
					}	
				}
			}	
			p {
				padding-left:80px; 
				margin-left:80px;
				@include bp-small {
					padding-left:0; 
					margin-left:0;
				}
			}
		}

	}
}

.social, .social2 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	ul {
		li {
			padding-left:5px; 
			padding-right:5px; 
			margin-left:0; 
			margin-right:0;	
		}
	}
}


.social {
	margin-top:-25px;
	.promo & {
		margin-top: 10px;
	}
	ul {
		li {
			float:right;
			&:nth-of-type(4) {
				margin-top:2px;	
				margin-right:5px;	
			}
		}
	}
}

.social2 {
	padding-left:22px;
	ul {
		li {
			&:nth-of-type(1) {
				padding-left: 0;
				font-size: 20px;
				vertical-align: top;
				letter-spacing:0.05em; 	
				color:$red;	
			}
		}
	}

}	

a.fa {
	font-size:20px;
	line-height: 28px;
	color:$green;	
	&:hover {
		color:$red;
	}
	.social & {
		color:$wt;
		line-height: 20px;
		font-size: 17px;
		&:hover {
			color:$green;
		}
	}
}

.footer {
	p {
		padding-top: 20px;
		font-size: 10px;
	}
}